streamlit==1.42.0
streamlit-aggrid==1.1.0
streamlit-apexjs==0.0.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit_dynamic_filters==0.1.9
streamlit-embedcode==0.1.2
streamlit-extras==0.5.0
streamlit-faker==0.0.3
streamlit_folium==0.24.0
streamlit-image-coordinates==0.1.9
streamlit-js-eval==0.1.7
streamlit-keyup==0.3.0
streamlit-lottie==0.0.5
streamlit-modal==0.1.2
streamlit-on-Hover-tabs==1.0.1
streamlit-option-menu==0.4.0
streamlit-shadcn-ui==0.1.18
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sockets==1.0.0
pandas==2.2.3
xmltodict==0.14.2